In [7]:
# read csv using csv module
import csv

csv_rows = list()
csv_reader = None
csv_reader = csv.reader(open('student_records.csv','rt'), delimiter=',')

for row in csv_reader:
    print(row)
    csv_rows.append(row)

['Name', 'OverallGrade', 'Obedient', 'ResearchScore', 'ProjectScore', 'Recommend']
['Henry', 'A', 'Y', '90', '85', 'Yes']
['John', 'C', 'N', '85', '51', 'Yes']
['David', 'F', 'N', '10', '17', 'No']
['Holmes', 'B', 'Y', '75', '71', 'No']
['Marvin', 'E', 'N', '20', '30', 'No']
['Simon', 'A', 'Y', '92', '79', 'Yes']
['Robert', 'B', 'Y', '60', '59', 'No']
['Trent', 'C', 'Y', '75', '33', 'No']

In [9]:
# read csv using pandas module
import pandas as pd
df = pd.read_csv('student_records.csv',sep=',')
df

     Name OverallGrade Obedient  ResearchScore  ProjectScore Recommend
0   Henry            A        Y             90            85       Yes
1    John            C        N             85            51       Yes
2   David            F        N             10            17        No
3  Holmes            B        Y             75            71        No
4  Marvin            E        N             20            30        No
5   Simon            A        Y             92            79       Yes
6  Robert            B        Y             60            59        No
7   Trent            C        Y             75            33        No

In [13]:
# read a json file using json module
import json

json_filedata = open('nairobi.json').read()
json_data = json.loads(json_filedata)
json_data

{'features': [{'geometry': {'coordinates': [[[29.012145996093746,
       -14.155218724792238],
      [28.85833740234375, -14.71113475887066],
      [29.124755859374996, -14.862505109695103],
      [29.4818115234375, -14.668625907385902],
      [29.330749511718746, -14.224451017486459],
      [29.012145996093746, -14.155218724792238]]],
    'type': 'Polygon'},
   'properties': {'route_id': 30},
   'type': 'Feature'}],
 'type': 'FeatureCollection'}

In [18]:
# read json file using pandas

df = pd.read_json('nairobi.json', orient="records")
print(df.dtypes)

features    object
type        object
dtype: object